.vscode
.DS_Store
*.user
*.ncb
*.suo
*.pyc
*.xcuserdatad
*.xcscheme
xcuserdata/
*.tmp
*.zip
Release
Output
x64
*.ilk
*.pdb
/temp/
build
*.db
*.settings
*.obj
*.lib
BuildLog.htm
*.pch
*.idb
project.xcworkspace
obj
/third-parties
/temp
generated